Part 1

Step 1

In [9]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

# requesting data
r = requests.get('https://cmsc320.github.io/files/top-50-solar-flares.html')

root = BeautifulSoup(r.content)

temp_table = root.find('table')

# creating data frame
table = pd.DataFrame(columns=['Rank', 'X_Class', 'Date', 'Region', 'Start Time',
                              'Max Time', 'End Time', 'Movie'], 
                    index = range(0,50))

# inserting data into table
curr_row = 0
for row in temp_table.find_all('tr'):
    curr_col = 0
    columns = row.find_all('td')
    curr_row += 1
    for column in columns:
        if (curr_row > 1):
            table.iat[curr_row - 2, curr_col] = column.get_text()
            curr_col += 1

table

   Rank X_Class        Date  ... Max Time End Time               Movie
0     1    X28+  2003/11/04  ...    19:53    20:06   MovieView archive
1     2    X20+  2001/04/02  ...    21:51    22:03   MovieView archive
2     3  X17.2+  2003/10/28  ...    11:10    11:24   MovieView archive
3     4    X17+  2005/09/07  ...    17:40    18:03   MovieView archive
4     5   X14.4  2001/04/15  ...    13:50    13:55   MovieView archive
5     6     X10  2003/10/29  ...    20:49    21:01   MovieView archive
6     7    X9.4  1997/11/06  ...    11:55    12:01   MovieView archive
7     8    X9.3  2017/09/06  ...    12:02    12:10   MovieView archive
8     9      X9  2006/12/05  ...    10:35    10:45   MovieView archive
9    10    X8.3  2003/11/02  ...    17:25    17:39   MovieView archive
10   11    X8.2  2017/09/10  ...    16:06    16:31   MovieView archive
11   12    X7.1  2005/01/20  ...    07:01    07:26   MovieView archive
12   13    X6.9  2011/08/09  ...    08:05    08:08   MovieView archive
13   14    X6.5  2006/12/06  ...    18:47    19:00   MovieView archive
14   15    X6.2  2005/09/09  ...    20:04    20:36   MovieView archive
15   16    X6.2  2001/12/13  ...    14:30    14:35   MovieView archive
16   17    X5.7  2000/07/14  ...    10:24    10:43   MovieView archive
17   18    X5.6  2001/04/06  ...    19:21    19:31   MovieView archive
18   19    X5.4  2012/03/07  ...    00:24    00:40   MovieView archive
19   20    X5.4  2005/09/08  ...    21:06    21:17   MovieView archive
20   21    X5.4  2003/10/23  ...    08:35    08:49   MovieView archive
21   22    X5.3  2001/08/25  ...    16:45    17:04   MovieView archive
22   23    X4.9  2014/02/25  ...    00:49    01:03   MovieView archive
23   24    X4.9  1998/08/18  ...    22:19    22:28        View archive
24   25    X4.8  2002/07/23  ...    00:35    00:47   MovieView archive
25   26      X4  2000/11/26  ...    16:48    16:56   MovieView archive
26   27    X3.9  2003/11/03  ...    09:55    10:19   MovieView archive
27   28    X3.9  1998/08/19  ...    21:45    21:50        View archive
28   29    X3.8  2005/01/17  ...    09:52    10:07   MovieView archive
29   30    X3.7  1998/11/22  ...    06:42    06:49   MovieView archive
30   31    X3.6  2005/09/09  ...    09:59    10:08   MovieView archive
31   32    X3.6  2004/07/16  ...    13:55    14:01   MovieView archive
32   33    X3.6  2003/05/28  ...    00:27    00:39   MovieView archive
33   34    X3.4  2006/12/13  ...    02:40    02:57   MovieView archive
34   35    X3.4  2001/12/28  ...    20:45    21:32   MovieView archive
35   36    X3.3  2013/11/05  ...    22:12    22:15   MovieView archive
36   37    X3.3  2002/07/20  ...    21:30    21:54   MovieView archive
37   38    X3.3  1998/11/28  ...    05:52    06:13   MovieView archive
38   39    X3.2  2013/05/14  ...    01:11    01:20   MovieView archive
39   40    X3.1  2014/10/24  ...    21:41    22:13   MovieView archive
40   41    X3.1  2002/08/24  ...    01:12    01:31   MovieView archive
41   42      X3  2002/07/15  ...    20:08    20:14   MovieView archive
42   43    X2.8  2013/05/13  ...    16:05    16:16   MovieView archive
43   44    X2.8  2001/12/11  ...    08:08    08:14   MovieView archive
44   45    X2.8  1998/08/18  ...    08:24    08:32        View archive
45   46    X2.7  2015/05/05  ...    22:11    22:15   MovieView archive
46   47    X2.7  2003/11/03  ...    01:30    01:45   MovieView archive
47   48    X2.7  1998/05/06  ...    08:09    08:20   MovieView archive
48   49    X2.6  2005/01/15  ...    23:02    23:31   MovieView archive
49   50    X2.6  2001/09/24  ...    10:38    11:09   MovieView archive

[50 rows x 8 columns]

Step 2

In [3]:
# creating data/times
start = pd.to_datetime(table['Date'] + ' ' + table['Start Time'])
max = pd.to_datetime(table['Date'] + ' ' + table['Max Time'])
end = pd.to_datetime(table['Date'] + ' ' + table['End Time'])

table['Start Date/TIme'] = start
table['Max Date/Time'] = max
table['End Date/Time'] = end

# removing old columns
table = table.drop(['Movie', 'Date', 'Start Time', 'Max Time', 'End Time'], 1)

table

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  # This is added back by InteractiveShellApp.init_path()

   Rank X_Class  ...       Max Date/Time       End Date/Time
0     1    X28+  ... 2003-11-04 19:53:00 2003-11-04 20:06:00
1     2    X20+  ... 2001-04-02 21:51:00 2001-04-02 22:03:00
2     3  X17.2+  ... 2003-10-28 11:10:00 2003-10-28 11:24:00
3     4    X17+  ... 2005-09-07 17:40:00 2005-09-07 18:03:00
4     5   X14.4  ... 2001-04-15 13:50:00 2001-04-15 13:55:00
5     6     X10  ... 2003-10-29 20:49:00 2003-10-29 21:01:00
6     7    X9.4  ... 1997-11-06 11:55:00 1997-11-06 12:01:00
7     8    X9.3  ... 2017-09-06 12:02:00 2017-09-06 12:10:00
8     9      X9  ... 2006-12-05 10:35:00 2006-12-05 10:45:00
9    10    X8.3  ... 2003-11-02 17:25:00 2003-11-02 17:39:00
10   11    X8.2  ... 2017-09-10 16:06:00 2017-09-10 16:31:00
11   12    X7.1  ... 2005-01-20 07:01:00 2005-01-20 07:26:00
12   13    X6.9  ... 2011-08-09 08:05:00 2011-08-09 08:08:00
13   14    X6.5  ... 2006-12-06 18:47:00 2006-12-06 19:00:00
14   15    X6.2  ... 2005-09-09 20:04:00 2005-09-09 20:36:00
15   16    X6.2  ... 2001-12-13 14:30:00 2001-12-13 14:35:00
16   17    X5.7  ... 2000-07-14 10:24:00 2000-07-14 10:43:00
17   18    X5.6  ... 2001-04-06 19:21:00 2001-04-06 19:31:00
18   19    X5.4  ... 2012-03-07 00:24:00 2012-03-07 00:40:00
19   20    X5.4  ... 2005-09-08 21:06:00 2005-09-08 21:17:00
20   21    X5.4  ... 2003-10-23 08:35:00 2003-10-23 08:49:00
21   22    X5.3  ... 2001-08-25 16:45:00 2001-08-25 17:04:00
22   23    X4.9  ... 2014-02-25 00:49:00 2014-02-25 01:03:00
23   24    X4.9  ... 1998-08-18 22:19:00 1998-08-18 22:28:00
24   25    X4.8  ... 2002-07-23 00:35:00 2002-07-23 00:47:00
25   26      X4  ... 2000-11-26 16:48:00 2000-11-26 16:56:00
26   27    X3.9  ... 2003-11-03 09:55:00 2003-11-03 10:19:00
27   28    X3.9  ... 1998-08-19 21:45:00 1998-08-19 21:50:00
28   29    X3.8  ... 2005-01-17 09:52:00 2005-01-17 10:07:00
29   30    X3.7  ... 1998-11-22 06:42:00 1998-11-22 06:49:00
30   31    X3.6  ... 2005-09-09 09:59:00 2005-09-09 10:08:00
31   32    X3.6  ... 2004-07-16 13:55:00 2004-07-16 14:01:00
32   33    X3.6  ... 2003-05-28 00:27:00 2003-05-28 00:39:00
33   34    X3.4  ... 2006-12-13 02:40:00 2006-12-13 02:57:00
34   35    X3.4  ... 2001-12-28 20:45:00 2001-12-28 21:32:00
35   36    X3.3  ... 2013-11-05 22:12:00 2013-11-05 22:15:00
36   37    X3.3  ... 2002-07-20 21:30:00 2002-07-20 21:54:00
37   38    X3.3  ... 1998-11-28 05:52:00 1998-11-28 06:13:00
38   39    X3.2  ... 2013-05-14 01:11:00 2013-05-14 01:20:00
39   40    X3.1  ... 2014-10-24 21:41:00 2014-10-24 22:13:00
40   41    X3.1  ... 2002-08-24 01:12:00 2002-08-24 01:31:00
41   42      X3  ... 2002-07-15 20:08:00 2002-07-15 20:14:00
42   43    X2.8  ... 2013-05-13 16:05:00 2013-05-13 16:16:00
43   44    X2.8  ... 2001-12-11 08:08:00 2001-12-11 08:14:00
44   45    X2.8  ... 1998-08-18 08:24:00 1998-08-18 08:32:00
45   46    X2.7  ... 2015-05-05 22:11:00 2015-05-05 22:15:00
46   47    X2.7  ... 2003-11-03 01:30:00 2003-11-03 01:45:00
47   48    X2.7  ... 1998-05-06 08:09:00 1998-05-06 08:20:00
48   49    X2.6  ... 2005-01-15 23:02:00 2005-01-15 23:31:00
49   50    X2.6  ... 2001-09-24 10:38:00 2001-09-24 11:09:00

[50 rows x 6 columns]

Step 3

In [35]:
# gathering data
r = requests.get('https://cmsc320.github.io/files/waves_type2.html')

root = BeautifulSoup(r.content)
root.prettify()

# isolating table from 'pre' tag in html file
root = root.find('pre').get_text()
root = root.split('\n')[14:482]

# creating dataframe
nasa_table = pd.DataFrame(root)
nasa_table = nasa_table[0].apply(lambda x: pd.Series(x.split()))
nasa_table = nasa_table.drop([15, 16, 17, 18, 19, 20, 21, 22, 23], 1)
nasa_table.columns = ['Start Date', 'Start Time', 'End Date', 'End Time', 
                      'Start Freq', 'End Freq', 'flare_location', 
                      'flare_region', 'flare_class', 'cme_date', 'cme_time', 
                      'cme_angle', 'cme_width', 'cme_speed', 'plot']

nasa_table

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

     Start Date Start Time End Date  ... cme_width cme_speed  plot
0    1997/05/12      05:15    05/14  ...       360       464  PHTX
1    1997/05/21      20:20    05/21  ...       165       296  PHTX
2    1997/09/23      21:53    09/23  ...       155       712  PHTX
3    1997/11/03      05:15    11/03  ...       109       227  PHTX
4    1997/11/03      10:30    11/03  ...       122       352  PHTX
..          ...        ...      ...  ...       ...       ...   ...
463  2014/09/01      11:12    09/01  ...       360      1901  PHTX
464  2014/09/09      00:05    09/09  ...       360       920  PHTX
465  2014/09/10      17:45    09/11  ...       360      1267  PHTX
466  2014/09/20      05:10    09/20  ...        87       426  PHTX
467  2014/09/22      06:13    09/22  ...       252       618  PHTX

[468 rows x 15 columns]

Step 4

In [36]:
# changing missing entries to NaN
nasa_table.replace(['----', '-----', '------', '--/--', '--:--', \
              '????', 'DSF', 'EP','EP?', 'FILA', 'DIM', 'altr'], 'NaN', 
              inplace = True)

# creating and storing Halo column
nasa_table['Is Halo'] = np.where(nasa_table['cme_angle'] == 'Halo',
                                 'True', 'False')
nasa_table['cme_angle'].replace('Halo', 'NA', inplace = True)

# creating and storing width lower column
nasa_table['Width Lower'] = np.where(nasa_table['cme_width'].str.contains('>'),
                                     'True', 'False')
nasa_table['cme_width'] = nasa_table['cme_width'].str.replace('>','')

# replacing instances of 24:00 because to_datetime only reads up to 23:59
nasa_table['End Time'].replace('24:00', '00:00', inplace = True)

# converting dates into date/times
for i, row in nasa_table.iterrows():
    year = row['Start Date'][:5]
    
    if row['End Date'] != 'NaN' and row['End Time'] != 'NaN':
        row['End Date'] = year + row['End Date'] + ' ' + row['End Time']
        row['End Date'] = pd.to_datetime(row['End Date'])
    
    if row['cme_date'] != 'NaN' and row['cme_time'] != 'NaN':
        row['cme_date'] = year + row['cme_date'] + ' ' + row['cme_time']
        row['cme_date'] = pd.to_datetime(row['cme_date'])
  
    row['Start Date'] = row['Start Date'] + ' ' + row['Start Time']
    row['Start Date'] = pd.to_datetime(row['Start Date'])

    #row.rename(columns = {'Start Date': 'Start Date/Time', 'End Date': 'End Date/Time', 'cme_date': 'cme_date/time'}, 1)

# removing old columns
nasa_table.drop(['Start Time', 'End Time', 'cme_time'], 1)

nasa_table

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

              Start Date Start Time  ... Is Halo Width Lower
0    1997-05-12 05:15:00      05:15  ...    True       False
1    1997-05-21 20:20:00      20:20  ...   False       False
2    1997-09-23 21:53:00      21:53  ...   False       False
3    1997-11-03 05:15:00      05:15  ...   False       False
4    1997-11-03 10:30:00      10:30  ...   False       False
..                   ...        ...  ...     ...         ...
463  2014-09-01 11:12:00      11:12  ...    True       False
464  2014-09-09 00:05:00      00:05  ...    True       False
465  2014-09-10 17:45:00      17:45  ...    True       False
466  2014-09-20 05:10:00      05:10  ...   False       False
467  2014-09-22 06:13:00      06:13  ...   False       False

[468 rows x 17 columns]

Part 2

Question 1

In [19]:
top50 = nasa_table.loc[nasa_table['flare_class'].astype(str).str.contains('X')].copy()

top50['top50'] = top50['flare_class']

# removing X from the column 
top50['top50'] = top50['top50'].str.replace('X', '')
top50['top50'] = top50['top50'].astype(float)

# sort in descending order
top50 = top50.sort_values('top50', ascending = False)
top50.drop('top50', axis = 1)

top50 = top50.head(50)

top50

              start_date start_time  ... Width Lower top50
238  2003-11-04 20:00:00      20:00  ...       False  28.0
115  2001-04-02 22:05:00      22:05  ...       False  20.0
231  2003-10-28 11:10:00      11:10  ...       False  17.0
124  2001-04-15 14:05:00      14:05  ...       False  14.0
232  2003-10-29 20:55:00      20:55  ...       False  10.0
6    1997-11-06 12:20:00      12:20  ...       False   9.4
326  2006-12-05 10:50:00      10:50  ...       False   9.0
235  2003-11-02 17:30:00      17:30  ...       False   8.3
286  2005-01-20 07:15:00      07:15  ...       False   7.1
357  2011-08-09 08:20:00      08:20  ...       False   6.9
329  2006-12-06 19:00:00      19:00  ...       False   6.5
315  2005-09-09 19:45:00      19:45  ...       False   6.2
80   2000-07-14 10:30:00      10:30  ...       False   5.7
119  2001-04-06 19:35:00      19:35  ...       False   5.6
373  2012-03-07 01:00:00      01:00  ...       False   5.4
133  2001-08-25 16:50:00      16:50  ...       False   5.3
441  2014-02-25 00:56:00      00:56  ...       False   4.9
191  2002-07-23 00:50:00      00:50  ...       False   4.8
102  2000-11-26 17:00:00      17:00  ...       False   4.0
237  2003-11-03 10:00:00      10:00  ...       False   3.9
284  2005-01-17 10:00:00      10:00  ...       False   3.8
220  2003-05-28 01:00:00      01:00  ...       False   3.6
158  2001-12-28 20:35:00      20:35  ...       False   3.4
330  2006-12-13 02:45:00      02:45  ...       False   3.4
190  2002-07-20 21:30:00      21:30  ...       False   3.3
402  2013-05-14 01:16:00      01:16  ...       False   3.2
199  2002-08-24 01:45:00      01:45  ...       False   3.1
401  2013-05-13 16:15:00      16:15  ...       False   2.8
236  2003-11-03 01:15:00      01:15  ...       False   2.7
17   1998-05-06 08:25:00      08:25  ...       False   2.7
282  2005-01-15 23:00:00      23:00  ...       False   2.6
7    1997-11-27 13:30:00      13:30  ...       False   2.6
140  2001-09-24 10:45:00      10:45  ...       False   2.6
274  2004-11-10 02:25:00      02:25  ...       False   2.5
121  2001-04-10 05:24:00      05:24  ...       False   2.3
71   2000-06-06 15:20:00      15:20  ...       False   2.3
97   2000-11-24 15:25:00      15:25  ...       False   2.3
343  2011-02-15 02:10:00      02:10  ...       False   2.2
5    1997-11-04 06:00:00      06:00  ...       False   2.1
316  2005-09-10 21:45:00      21:45  ...       False   2.1
359  2011-09-06 22:30:00      22:30  ...       False   2.1
418  2013-10-25 15:08:00      15:08  ...       False   2.1
123  2001-04-12 10:20:00      10:20  ...       False   2.0
283  2005-01-17 09:25:00      09:25  ...       False   2.0
96   2000-11-24 05:10:00      05:10  ...       False   2.0
272  2004-11-07 16:25:00      16:25  ...       False   2.0
100  2000-11-25 19:00:00      19:00  ...       False   1.9
187  2002-07-18 07:55:00      07:55  ...       False   1.8
98   2000-11-24 22:24:00      22:24  ...       False   1.8
47   1999-10-14 09:10:00      09:10  ...       False   1.8

[50 rows x 18 columns]

When replicating the top 50 solar flares using the NASA data, I removed the X character in the flare-class column and sorted the numbers in descending order. I got similar, but not identitical results as the SpaceWeatherLive website. Though the top solar flare is the same at X28.0 among both datasets, the last one in the SpaceWeatherLive website is X2.3, whereas in my the NASA data it is X1.8. The NASA dataset had a larger range for solar flares.

In [ ]:
!wget -nc https://raw.githubusercontent.com/brpy/colab-pdf/master/colab_pdf.py
from colab_pdf import colab_pdf
colab_pdf('Project 1.ipynb')

File colab_pdf.py already there; not retrieving.

Mounted at /content/drive/

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [ ]:
%%shell
jupyter nbconvert --to html /content/Project_1.ipynb

[NbConvertApp] Converting notebook /content/Project_1.ipynb to html
[NbConvertApp] Writing 375979 bytes to /content/Project_1.html